
.myform {
    text-align: right;
    margin: 40px auto;
}

#bootstrap-overwrite .error-message {
    margin-top: 3px;

    color: #e31e30;
    display: block;
    font-size: 10px;
    font-weight: bold;
}

#bootstrap-overwrite .form-control {
    font-size: 12px;
}


.small-form {
    width: 250px;
}

.user-profile-form {
    width: 250px;
}


.user-accounts-list-form {
    width: 250px;
}


.user-contracts-list-form {
    width: 90%;
}

.user-transaction-list-form {
    width: 90%;
}


.block-content {
    margin: 25px auto 150px auto;
    text-align: center;
}

.mybutton {
    background-color: #e31e30;
    color: white;
    border-radius: 0;
}

.another-mybutton{
    background-color: #66f866;
    color: white;
    border-radius: 0px;
}

.mybutton:hover .another-mybutton:hover {
    background-color: #5d2f77;
    color: white;
}

.color-white{
    color: white;
}

center {
    margin: auto;
}


/*@media (min-width: 400px) and (max-width: 575.98px) {*/

/*}*/

/*@media (min-width: 576px) and (max-width: 767.98px) {*/

/*}*/

/*@media (min-width: 768px) and (max-width: 991.98px) {*/

/*}*/

/*@media (min-width: 992px) and (max-width: 1199.98px) {*/

/*}*/