
.myform {
    text-align: right;
    margin: 40px auto 0 auto;
}

#bootstrap-overwrite .error-message {
    margin-top: 3px;

    color: #e31e30;
    display: block;
    font-size: 10px;
    font-weight: bold;
}

#bootstrap-overwrite .form-control {
    font-size: 12px;
}


.small-form {
    width: 250px;
}

.margin-auto {
    margin: auto;
}

.general-form {
    width: 250px;
}


.user-accounts-list-table {
    width: 250px;
}


.user-contracts-list-table {
    width: 90%;
}

.user-transaction-list-table {
    width: 90%;
}


.block-content {
    margin: 25px auto 150px auto;
    text-align: center;
}

.mybutton {
    background-color: #e31e30;
    color: white;
    border-radius: 0;
}

.another-mybutton {
    background-color: #30cd30;
    color: white;
    border-radius: 0;
}

#bootstrap-overwrite .modal_success_btn {
    background-color: #30cd30;
    color: white;
}

#bootstrap-overwrite .modal_success_btn:hover {
    background-color: #57317a;
    color: white;
}

#bootstrap-overwrite .mybutton:hover {
    color: white;
    background-color: #57317a;
}

#bootstrap-overwrite .another-mybutton:hover {
    color: white;
    background-color: #57317a;
}

.color-white {
    color: white;
}

center {
    margin: auto;
}


.line-height-15 {
    line-height: 15px;
}

.my-modal {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px
}

.modal-field {
    margin-bottom: 10px
}

.modal-field-label {
    color: #9655D4;
}

.modal-field-value {
    color: black
}

.my-modal-form {
    text-align: right;
    padding-right: 25px;
}

th, td {
    text-align: center;
}
