{% extends "myapp/user-logged-in-nav.html" %}
{% load rest_framework %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}
{% load myapp_extras %}


{% block hero %}{% endblock %}

{% block content %}
    <div class="block-content">
        <h4>لیست قرارداد ها</h4>
        <h5>(جهت مشاهده جزپیات بیشتر روی شناسه قرارداد کلیک کنید)</h5>

        <form method="post" id="" class="myform user-contracts-list-form" action="">
            {% csrf_token %}

            {% if owner_type == 'EXPORTER' %}
                <form method="post" id="login-form" class="myform user-contracts-list-form" action="">
                    {% csrf_token %}

                    <div class="table-responsive">
                        <table style="margin: auto" class="center table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">شناسه</th>
                                <th scope="col">شماره حساب صراف</th>
                                <th scope="col">مبلغ به ریال</th>
                                <th scope="col">مبلغ حواله</th>
                                <th scope="col">نام داور</th>
                                <th scope="col">رای داور</th>
                                <th scope="col">تاریخ اعتبار</th>
                                <th scope="col">وضعیت</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subcontract in contracts %}
                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'myapp:my_contract_detail' subcontract.id %}?role=user&user={{ user }}&account={{ owner|addstr:"&format=html" }}"><u>{{ subcontract.id }}</u></a>
                                    </th>

                                    <td>{{ subcontract.parent.dst_owner }}</td>
                                    <td>{{ subcontract.value_in_rial }}</td>
                                    <td>{{ subcontract.remittance_value }}</td>
                                    <td>{{ subcontract.parent.judge.name }}</td>
                                    <td>{{ subcontract.judge_vote_verbose }}</td>
                                    <td>{{ subcontract.expire_date }}</td>
                                    <td>{{ subcontract.status_verbose }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            {% else %}
                <div class="table-responsive">
                    <table style="margin: auto" class="center table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">شناسه</th>
                            {% if owner_type == 'EXCHANGER' %}
                                <th scope="col">شماره حساب وارد کننده</th>
                            {% else %}
                                <th scope="col">شماره حساب صراف</th>
                            {% endif %}
                            <th scope="col">مبلغ به ریال</th>
                            <th scope="col">ارز حواله</th>
                            <th scope="col">مبلغ حواله</th>
                            <th scope="col">نوع تسویه</th>
                            <th scope="col"> نام داور</th>
                            <th scope="col">رای داور</th>
                            <th scope="col">تاریخ اعتبار</th>
                            <th scope="col">وضعیت</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for contract in contracts %}
                            <tr>
                                <th scope="row"><a
                                        href="{% url 'myapp:my_contract_detail' contract.id %}?role=user&user={{ user }}&account={{ owner|addstr:"&format=html" }}"><u>{{ contract.id }}</u></a>
                                </th>

                                {% if owner == contract.src_owner.bank_account_id %}
                                    <td>{{ contract.dst_owner }}</td>
                                {% else %}
                                    <td>{{ contract.src_owner }}</td>
                                {% endif %}
                                <td>{{ contract.value_in_rial }}</td>
                                <td>{{ contract.remittance_currency }}</td>
                                <td>{{ contract.remittance_value }}</td>
                                <td>{{ contract.settlement_type_verbose }}</td>
                                <td>{{ contract.judge.name }}</td>
                                <td>{{ contract.judge_vote_verbose }}</td>
                                <td>{{ contract.expire_date }}</td>
                                <td>{{ contract.status_verbose }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if  owner_type == 'IMPORTER' %}
                <div class="text-center" style="padding:10px ">
                    <a class="btn mybutton"
                       href="{% url 'myapp:my_new_contract' %}?role=user&user={{ user }}&account={{ owner }}"><span
                            class="color-white">ثبت قرار داد جدید</span></a>
                </div>
            {% endif %}

        </form>

        <br/>
        <br/>
        <br/>

        <h4>لیست تراکنش ها</h4>
        <h5>(جهت مشاهده جزپیات بیشتر روی شناسه تراکنش کلیک کنید)</h5>

        <form method="post" id="" class="myform user-transaction-list-form" action="">
            {% csrf_token %}

            <div class="table-responsive">
                <table style="margin: auto" class="center table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">شناسه</th>
                        {% if owner_type == 'EXCHANGER' %}
                            <th scope="col">نوع حساب طرف دیگر تراکنش</th>
                            <th scope="col">شماره حساب طرف دیگر تراکنش</th>
                        {% else %}
                            <th scope="col">شماره حساب صراف</th>
                        {% endif %}
                        <th scope="col">نوع تراکنش</th>
                        <th scope="col">مبلغ به ریال</th>
                        <th scope="col">نوع اپراتور</th>
                        <th scope="col">کد ملی اپراتور</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <th scope="row"><a
                                    href="{% url 'myapp:my_transaction_detail' transaction.id %}?role=user&user={{ user }}&account={{ owner }}"><u>{{ transaction.id }}</u></a>
                            </th>
                            {% if owner == transaction.owner %}
                                {% if owner_type == 'EXCHANGER' %}
                                    <td>صادرکننده</td>
                                {% endif %}
                                <td>{{ transaction.otherside_owner }}</td>
                            {% else %}
                                {% if owner_type == 'EXCHANGER' %}
                                    <td>وارد کننده</td>
                                {% endif %}
                                <td>{{ transaction.owner }}</td>
                            {% endif %}

                            {% if owner_type == 'IMPORTER' %}
                                <td>پرداختی</td>
                            {% elif owner_type == 'EXCHANGER' %}
                                {% if owner == transaction.owner %}
                                    <td>پرداختی</td>
                                {% else %}
                                    <td>واریزی</td>
                                {% endif %}
                            {% else %}
                                <td>واریزی</td>
                            {% endif %}

                            <td>{{ transaction.value }}</td>
                            <td>{{ transaction.operator_type_verbose }}</td>
                            <td>{{ transaction.operator }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if  owner_type != 'EXPORTER' %}
                <div class="text-center" style="padding:10px ">
                    <a class="btn mybutton"
                       href="{% url 'myapp:my_new_transaction' %}?role=user&user={{ user }}&account={{ owner }}"><span
                            class="color-white">انجام تراکنش جدید</span></a>
                </div>
            {% endif %}

        </form>

        <script>
        </script>
    </div>
{% endblock %}

