{% extends "myapp/user-logged-in-nav.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}


{% block hero %}{% endblock %}

{% block content %}
    <div class="block-content">
        <h4>اطلاعات قرارداد</h4>
        <form method="post" id="login-form" class="myform user-profile-form" action="">
            {% csrf_token %}

            {% for hidden in contract_detail_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in contract_detail_form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                    {% for error in field.errors %}
                        <span class="help- error-message">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}


        </form>

        <br/>
        <br/>
        <br/>


        {% if owner_type == 'IMPORTER' and status == "ENDED_BY_EXCHANGER" %}
            <form class="myform small-form" style="margin-top: -75px;" method="post"
                  action="{% url 'myapp:my_contract_detail' contract %}?role=user&user={{ user }}&account={{ owner }}&action=end">
                <div style="margin-top: 20px">
                    <button class="btn btn-block another-mybutton"
                            type="submit"><span>{{ sat }}پایان معامله</span></button>
                </div>
            </form>
            <form class="myform small-form" style="margin-top: -25px;" method="post"
                  action="{% url 'myapp:my_contract_detail' contract %}?role=user&user={{ user }}&account={{ owner }}&action=claim">
                <div style="margin-top: 20px">
                    <button class="btn btn-block mybutton "
                            type="submit"><span>{{ sat }}درخواست داوری</span></button>
                </div>
            </form>
        {% else %}
            {% if status == 'CONFIRMED_BY_EXCHANGER' or status == 'CONFIRMED_BY_EXPORTER' %}
                <form style="margin-top: -75px; margin-bottom: 25px;" method="post" class="myform small-form"
                      action="{% url 'myapp:my_contract_detail' contract %}?role=user&user={{ user }}&account={{ owner }}&action=end">
                    <div style="margin-top: 20px" class="myform small-form">
                        <button class="btn mybutton btn-block"
                                type="submit"><span>{{ sat }}پایان معامله</span></button>
                    </div>
                </form>
            {% endif %}
        {% endif %}

        {% if status == 'WAITING_FOR_EXCHANGER' or status == 'WAITING_FOR_EXPORTER' %}
            {% if owner_type != "IMPORTER" %}
                <form style="margin-top: -50px" method="post" class="myform small-form ano"
                      action="{% url 'myapp:my_contract_detail' contract %}?role=user&user={{ user }}&account={{ owner }}&action=confirm">
                    <button class="btn another-mybutton btn-block"
                            type="submit"><span>{{ sat }}تایید قرارداد</span></button>
                </form>
                <form style="margin-top: -25px" method="post" class="myform small-form"
                      action="{% url 'myapp:my_contract_detail' contract %}?role=user&user={{ user }}&account={{ owner }}&action=deny">
                    <button class="btn btn-block mybutton" style="border-radius: 0"
                            type="submit"><span>{{ sat }}رد قرارداد</span></button>
                </form>
            {% endif %}
        {% elif owner_type == 'EXCHANGER' and status != 'DENIED_BY_EXCHANGER' %}
            <h4>لیست قرارداد های مربوطه</h4>
            <h5>(جهت مشاهده جزپیات بیشتر روی شناسه قرارداد مربوطه کلیک کنید)</h5>

            <form method="post" id="login-form" class="myform user-contracts-list-form" action="">
                {% csrf_token %}

                <div class="table-responsive">
                    <table style="margin: auto" class="center table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">شناسه</th>
                            <th scope="col">شماره حساب صادرکننده</th>
                            <th scope="col">مبلغ به ریال</th>
                            <th scope="col">مبلغ حواله</th>
                            <th scope="col">رای داور</th>
                            <th scope="col">تاریخ اعتبار</th>
                            <th scope="col">وضعیت</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subcontract in subcontracts %}
                            <tr>
                                <th scope="row">
                                    <a href="{% url 'myapp:my_subcontract_detail' subcontract.id %}?role=user&user={{ user }}&account={{ owner }}&contract={{ contract }}"><u>{{ subcontract.id }}</u></a>
                                </th>
                                <td>{{ subcontract.dst_owner }}</td>
                                <td>{{ subcontract.value_in_rial }}</td>
                                <td>{{ subcontract.remittance_value }}</td>
                                <td>{{ subcontract.judge_vote_verbose }}</td>
                                <td>{{ subcontract.expire_date }}</td>
                                <td>{{ subcontract.status_verbose }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
            {% if status == 'CONFIRMED_BY_EXCHANGER' %}
                <div class="text-center" style="padding:10px ">
                    <a class="btn mybutton"
                       href="{% url 'myapp:my_new_subcontract' %}?role=user&user={{ user }}&account={{ owner }}&contract={{ contract }}"><span
                            class="color-white">ثبت قرار داد مربوطه جدید</span></a>
                </div>
            {% endif %}
        {% endif %}

        <script>
        </script>
    </div>
{% endblock %}

