{% extends "myapp/user-logged-in-nav.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}


{% block hero %}{% endblock %}

{% block content %}
    <div class="block-content">
        <h4>اطلاعات قرارداد</h4>
        <div id="login-form">
            <form class="myform general-form">
                {% csrf_token %}

                {% for hidden in contract_detail_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in contract_detail_form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                        {% for error in field.errors %}
                            <span class="help- error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
            </form>

            {% if type == 'IMPORTER' %}
                {% if status == "WAITING_FOR_IMPORTER_PAYMENT" %}
                    <div class="small-form margin-auto">
                        <button id="im-charge-btn" class="btn another-mybutton btn-block" data-toggle="modal"
                                data-target="#confirm-submit">
                            <span class="color-white">اعلام پرداخت</span></button>
                    </div>

                {% elif status == "WAITING_FOR_IMPORTER_CONFIRMATION" %}
                    <div class="small-form margin-auto">
                        <button id="im-confirm-btn" class="btn another-mybutton btn-block" data-toggle="modal"
                                data-target="#confirm-submit" type="submit"><span>تایید قرارداد</span></button>
                        <button id="im-claim-btn" class="btn btn-block mybutton" data-toggle="modal"
                                data-target="#confirm-submit" type="submit">
                            <span>عدم تایید قرارداد(درخواست داوری)</span></button>
                    </div>
                {% endif %}

            {% elif type == "EXCHANGER" %}
                {% if status == "WAITING_FOR_EXCHANGER_ACCEPTANCE" %}
                    <div class="small-form margin-auto">
                        <button id="exc-accept-btn" class="btn another-mybutton btn-block" data-toggle="modal"
                                data-target="#confirm-submit" type="submit"><span>پذیرش قرارداد</span></button>
                        <button id="exc-reject-btn" class="btn btn-block mybutton" data-toggle="modal"
                                data-target="#confirm-submit" type="submit"><span>رد قرارداد</span></button>
                    </div>
                {% elif status == "DOING_BY_EXCHANGER" or status == "WAITING_FOR_IMPORTER_CONFIRMATION" or status == "CONFIRMED_BY_IMPORTER" or status == "CLAIMED_BY_IMPORTER" %}
                    <div class="mt-50 mb-25">
                        <h4>لیست قرارداد های مربوطه</h4>
                        <h5>(جهت مشاهده جزپیات بیشتر روی شناسه قرارداد مربوطه کلیک کنید)</h5>

                        <div class="table-responsive">
                            <table class="margin-auto center table table-striped user-contracts-list-table">
                                <thead>
                                <tr>
                                    <th scope="col">شناسه</th>
                                    <th scope="col">شماره حساب صادرکننده</th>
                                    <th scope="col">مبلغ به ریال</th>
                                    <th scope="col">مبلغ حواله</th>
                                    <th scope="col">رای داور</th>
                                    <th scope="col">تاریخ اعتبار</th>
                                    <th scope="col">وضعیت</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for subcontract in subcontracts %}
                                    <tr>
                                        <th scope="row">
                                            <a href="{% url 'myapp:subcontract_detail' subcontract.id %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}&contract={{ contract }}"><u>{{ subcontract.id }}</u></a>
                                        </th>
                                        <td>{{ subcontract.dst_owner_bank_account_id }}</td>
                                        <td>{{ subcontract.value_in_rial_thousand_separated }}</td>
                                        <td>{{ subcontract.remittance_value_thousand_separated }}</td>
                                        <td>{{ subcontract.judge_vote_verbose }}</td>
                                        <td>{{ subcontract.expire_date_verbose }}</td>
                                        <td>{{ subcontract.status_verbose }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% if status == "DOING_BY_EXCHANGER" %}
                        <div class="small-form margin-auto">
                            <a href="{% url 'myapp:new_subcontract' %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}&contract={{ contract }}"
                               class="btn another-mybutton btn-block"> <span
                                    class="color-white">ثبت قرارداد مربوطه جدید</span>
                            </a>

                            <button id="exc-end-btn" class="btn mybutton btn-block" data-toggle="modal"
                                    data-target="#confirm-submit">
                                <span class="color-white">پایان قرارداد</span>
                            </button>

                        </div>
                    {% endif %}
                {% endif %}

            {% elif type == "EXPORTER" %}
                {% if status == "WAITING_FOR_EXPORTER_ACCEPTANCE" %}
                    <div class="small-form margin-auto">

                        <button id="ex-accept-btn" class="btn another-mybutton btn-block" data-toggle="modal"
                                data-target="#confirm-submit" type="submit"><span>پذیرش قرارداد</span></button>
                        <button id="ex-reject-btn" class="btn btn-block mybutton" data-toggle="modal"
                                data-target="#confirm-submit" type="submit"><span>رد قرارداد</span></button>
                    </div>

                {% elif status == "DOING_BY_EXPORTER" %}
                    <div class="small-form margin-auto">
                        <button id="ex-end-btn" class="btn mybutton btn-block" data-toggle="modal"
                                data-target="#confirm-submit">
                            <span class="color-white">پایان قرارداد</span></button>
                    </div>

                {% endif %}

            {% endif %}

        </div>

        <br/>
        <br/>
        <br>

        <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content my-modal">
                    <div class="modal-header text-center">
                        آیا درستی اطلاعات وارد شده را تایید می کنید؟
                    </div>
                    <div class="modal-body ">
                        <div class="my-modal-form">
                            {% for field in contract_detail_form.visible_fields %}
                                {#                                <input id="{{ field.auto_id }}_check" type="checkbox"/>#}
                                <div class="modal-field">
                                    <span class="modal-field-label">{{ field.label }}:</span>
                                    <span class="modal-field-value" id="{{ field.auto_id }}_value"></span>
                                </div>
                            {% endfor %}
                            <strong class="modal-field-label">عملیات مورد نظر:</strong>
                            <strong class="modal-field-value" id="requested-action"></strong>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
                        <button id="confirm-btn" class="btn modal_success_btn">تایید</button>
                    </div>
                </div>
            </div>
        </div>

        <script>

            $('#im-charge-btn, #im-confirm-btn, #im-claim-btn, #exc-accept-btn, #exc-reject-btn, #exc-end-btn, #ex-accept-btn, #ex-reject-btn, #ex-end-btn').click(function () {
                {% for field in contract_detail_form.visible_fields %}
                    var field_id = "{{ field.auto_id }}"
                    var field_value = $('#' + field_id).val()
                    if (field_id == 'id_remittance_currency') {
                        field_value = translate_currency(field_value)
                    }
                    var modal_field_id = "{{ field.auto_id }}" + '_value'
                    $('#' + modal_field_id).text(field_value)
                {% endfor %}
                $('#id_settlement_type_value').text($("#id_settlement_type option:selected").text())
                $('#id_status_value').text($("#id_status option:selected").text())
                $('#id_judge_vote_value').text($("#id_judge_vote option:selected").text())

            });

        </script>

        <script>
            var get = function (url) {
                var link = document.createElement('a');
                link.href = url;
                document.body.appendChild(link);
                link.click();
            }
        </script>

        <script>
            function setElementTextById(id, text) {
                $('#' + id).text(text);
            }
        </script>

        <script>
            function setRequestedAction(text) {
                setElementTextById('requested-action', text)
            }
        </script>

        {#  importer  ...............................................................................................................#}
        <script>
            $('#im-charge-btn').click(function () {
                {#changeConfirmBtnId('im-charge-modal-btn')#}
                $('#confirm-btn').data('action', 'im-charge');
                setRequestedAction("اعلام پرداخت")
            })
            $('#im-confirm-btn').click(function () {
                $('#confirm-btn').data('action', 'im-confirm');
                setRequestedAction("تایید قرار داد")

            })
            $('#im-claim-btn').click(function () {
                $('#confirm-btn').data('action', 'im-claim');
                setRequestedAction("عدم تایید قرارداد(درخواست داوری)")
            })
            $('#exc-accept-btn').click(function () {
                $('#confirm-btn').data('action', 'exc-accept');
                setRequestedAction("پذیرش قرار داد")
            })
            $('#exc-reject-btn').click(function () {
                $('#confirm-btn').data('action', 'exc-reject');
                setRequestedAction("رد قرار داد")
            })
            $('#exc-end-btn').click(function () {
                $('#confirm-btn').data('action', 'exc-end');
                setRequestedAction("پایان قرار داد")
            })
            $('#ex-accept-btn').click(function () {
                $('#confirm-btn').data('action', 'ex-accept');
                setRequestedAction("پذیرش قرار داد")
            })
            $('#ex-reject-btn').click(function () {
                $('#confirm-btn').data('action', 'ex-reject');
                setRequestedAction("رد قرار داد")
            })
            $('#ex-end-btn').click(function () {
                $('#confirm-btn').data('action', 'ex-end');
                setRequestedAction("پایان قرار داد")
            })
        </script>

        {#  modal .................................................................................................................. #}
        {#  importer  ...............................................................................................................#}
        <script>
            $('#confirm-btn').click(function () {
                var action = $('#confirm-btn').data('action');
                {#alert(action)#}
                switch (action) {
                    case 'im-charge':
                        get("{% url 'myapp:contract_detail' contract %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}&action=charge");
                        break
                    case 'im-confirm':
                        get("{% url 'myapp:contract_detail' contract %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}&action=confirm");
                        break
                    case 'im-claim':
                        get("{% url 'myapp:contract_detail' contract %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}&action=claim");
                        break
                    case 'exc-accept':
                        get("{% url 'myapp:contract_detail' contract %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}&action=accept")
                        break
                    case 'exc-reject':
                        get("{% url 'myapp:contract_detail' contract %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}&action=reject");
                        break
                    case 'exc-end':
                        get("{% url 'myapp:contract_detail' contract %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}&action=end");
                        break
                    case 'ex-accept':
                        get("{% url 'myapp:contract_detail' contract %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}&action=accept");
                        break
                    case 'ex-reject':
                        get("{% url 'myapp:contract_detail' contract %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}&action=reject");
                        break
                    case 'ex-end':
                        get("{% url 'myapp:contract_detail' contract %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}&action=end");
                        break
                }
            })
        </script>
    </div>
{% endblock %}

