{% extends "myapp/reporter-logged-in-nav.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}


{% block hero %}{% endblock %}

{% block content %}
    <div class="block-content">
        <h4>فرم گزارش گیری را کامل کنید</h4>
        <form method="post" id="login-form" class="myform general-form"
              action="{% url 'myapp:contradiction_report' %}?role=reporter&reporter={{ reporter }}">
            {% csrf_token %}

            {% for hidden in report_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in report_form.visible_fields %}
                <div class="form-group">
                    {% if field.name == 'from_date' or field.name == 'to_date' %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input name="{{ field.name }}" type="text" class="form-control"
                               id="id_{{ field.name }}"
                               placeholder="انتخاب کنید"
                               data-mddatetimepicker="true"
                               data-placement="right" data-englishnumber="true"/>
                    {% else %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                        {% for error in field.errors %}
                            <span class="help- error-message">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-group text-center">
                <button type="submit" class="btn mybutton btn-block">
                    گزارش گیری
                </button>
            </div>
        </form>

        {% if show %}
            <div class="mt-50 mb-25">
                <h4>لیست تراکنش های واریزی به حساب</h4>

                <div class="table-responsive">
                    <table class="margin-auto center table table-striped user-contracts-list-table">
                        <thead>
                        <tr>
                            {#                            <th scope="col">شناسه</th>#}
                            {#                            <th scope="col">نوع تراکنش</th>#}
                            <th scope="col">شناسه قرارداد مربوطه</th>
                            <th scope="col">حساب مبداء</th>
                            <th scope="col">شماره حساب مبداء</th>
                            {#                            <th scope="col">شماره حساب مقصد</th>#}
                            {#                            <th scope="col">نوع حساب مقصد</th>#}
                            <th scope="col">مقدار</th>
                            <th scope="col">نوع اپراتور</th>
                            <th scope="col">شناسه اپراتور</th>
                            <th scope="col">تاریخ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for in_external_transaction in in_external_transactions %}
                            <tr>
                                {#                                <th scope="row">#}
                                {#                                    <a href="{% url 'myapp:transaction_detail' in_external_transaction.id %}?role=reporter&reporter={{ reporter }}"><u>{{ in_external_transaction.id }}</u></a>#}
                                {#                                </th>#}
                                {#                                <td>{{ in_external_transaction.transaction_type_verbose }}</td>#}
                                <td>{{ in_external_transaction.relevant_contract_id }}</td>
                                <td>{{ in_external_transaction.src_owner_type_verbose }}</td>
                                <td>{{ in_external_transaction.src_owner_bank_account_id }}</td>
                                {#                                <td>{{ in_external_transaction.dst_owner_bank_account_id }}</td>#}
                                {#                                <td>{{ in_external_transaction.dst_owner_type_verbose }}</td>#}
                                <td>{{ in_external_transaction.amount }}</td>
                                <td>{{ in_external_transaction.operator_type_verbose }}</td>
                                <td>{{ in_external_transaction.operator_id }}</td>
                                <td>{{ in_external_transaction.date_verbose }}</td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="mt-50 mb-25">
                <h4>لیست تراکنش های پرداختی از حساب</h4>

                <div class="table-responsive">
                    <table class="margin-auto center table table-striped user-contracts-list-table">
                        <thead>
                        <tr>
                            {#                            <th scope="col">شناسه</th>#}
                            {#                            <th scope="col">نوع تراکنش</th>#}
                            <th scope="col">شناسه قرارداد مربوطه</th>
                            {#                            <th scope="col">شماره حساب مبداء</th>#}
                            {#                            <th scope="col">نوع حساب مبداء</th>#}
                            <th scope="col">حساب مقصد</th>
                            <th scope="col">شماره حساب مقصد</th>
                            <th scope="col">مقدار</th>
                            <th scope="col">نوع اپراتور</th>
                            <th scope="col">شناسه اپراتور</th>
                            <th scope="col">تاریخ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for out_external_transaction in out_external_transactions %}
                            <tr>
                                {#                                <th scope="row">#}
                                {#                                    <a href="{% url 'myapp:transaction_detail' out_external_transaction.id %}?role=reporter&reporter={{ reporter }}"><u>{{ out_external_transaction.id }}</u></a>#}
                                {#                                </th>#}
                                {#                                <td>{{ out_external_transaction.transaction_type_verbose }}</td>#}
                                <td>{{ out_external_transaction.relevant_contract_id }}</td>
                                {#                                <td>{{ out_external_transaction.src_owner_bank_account_id }}</td>#}
                                {#                                <td>{{ out_external_transaction.src_owner_type_verbose }}</td>#}
                                <td>{{ out_external_transaction.dst_owner_type_verbose }}</td>
                                <td>{{ out_external_transaction.dst_owner_bank_account_id }}</td>
                                <td>{{ out_external_transaction.amount }}</td>
                                <td>{{ out_external_transaction.operator_type_verbose }}</td>
                                <td>{{ out_external_transaction.operator_id }}</td>
                                <td>{{ out_external_transaction.date_verbose }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        {% endif %}

        <script>
        </script>
    </div>
{% endblock %}

