{% extends "myapp/judge-logged-in-nav.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}


{% block hero %}{% endblock %}

{% block content %}
    <div class="block-content">
        <h4>اطلاعات قرارداد</h4>
        <form method="post" id="login-form" class="myform user-profile-form" action="">
            {% csrf_token %}

            {% for hidden in contract_detail_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in contract_detail_form.visible_fields %}
                <div class="form-group">

                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                    {% for error in field.errors %}
                        <span class="help- error-message">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>

        <br/>
        <br/>
        <br/>

        <h4>لیست قرارداد های مربوطه داوری نشده</h4>
        {% if to == 'judge' %}
            <h5>(جهت داوری روی شناسه قرارداد مربوطه کلیک کنید)</h5>
        {% else %}
            <h5>(جهت مشاهده جزپیات بیشتر روی شناسه قرارداد مربوطه کلیک کنید)</h5>
        {% endif %}
        <form method="post" id="login-form" class="myform user-contracts-list-table" action="">
            {% csrf_token %}

            <div class="table-responsive">
                <table style="margin: auto" class="center table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">شناسه</th>
                        <th scope="col">حساب صادرکننده</th>
                        <th scope="col">مبلغ به ریال</th>
                        <th scope="col">مبلغ حواله</th>
                        <th scope="col">رای داور</th>
                        <th scope="col">تاریخ اعتبار</th>
                        <th scope="col">وضعیت</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for not_judged_subcontract in not_judged_subcontracts %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'myapp:my_subcontract_detail' not_judged_subcontract.id %}?role=judge&judge={{ judge }}&contract={{ contract }}&to={{ to }}"><u>{{ not_judged_subcontract.id }}</u></a>
                            </th>
                            <td>{{ not_judged_subcontract.dst_owner }}</td>
                            <td>{{ not_judged_subcontract.value_in_rial }}</td>
                            <td>{{ not_judged_subcontract.remittance_value }}</td>
                            <td>{{ not_judged_subcontract.judge_vote_verbose }}</td>
                            <td>{{ not_judged_subcontract.expire_date }}</td>
                            <td>{{ not_judged_subcontract.status_verbose }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>

        <h4>لیست قرارداد های مربوطه داوری شده</h4>
        <h5>(جهت مشاهده جزپیات روی شناسه قرارداد مربوطه کلیک کنید)</h5>
        <form method="post" id="login-form" class="myform user-contracts-list-table" action="">
            {% csrf_token %}

            <div class="table-responsive">
                <table style="margin: auto" class="center table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">شناسه</th>
                        <th scope="col">حساب صادرکننده</th>
                        <th scope="col">مبلغ به ریال</th>
                        <th scope="col">مبلغ حواله</th>
                        <th scope="col">رای داور</th>
                        <th scope="col">تاریخ اعتبار</th>
                        <th scope="col">وضعیت</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for judged_subcontract in judged_subcontracts %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'myapp:my_subcontract_detail' judged_subcontract.id %}?role=judge&judge={{ judge }}&contract={{ contract }}&to={{ to }}"><u>{{ judged_subcontract.id }}</u></a>
                            </th>
                            <td>{{ judged_subcontract.dst_owner }}</td>
                            <td>{{ judged_subcontract.value_in_rial }}</td>
                            <td>{{ judged_subcontract.remittance_value }}</td>
                            <td>{{ judged_subcontract.judge_vote_verbose }}</td>
                            <td>{{ judged_subcontract.expire_date }}</td>
                            <td>{{ judged_subcontract.status_verbose }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>


        <script>
        </script>
    </div>
{% endblock %}

