{% extends "myapp/judge-logged-in-nav.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="block-content">
        <h4>اطلاعات قرارداد مربوطه</h4>
        <form method="post" id="login-form" class="myform general-form" action="">
            {% csrf_token %}

            {% for hidden in subcontract_detail_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in subcontract_detail_form.visible_fields %}
                {% if to == 'view' or field.name != 'judge_vote' %}
                    <div class="form-group">

                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                        {% for error in field.errors %}
                            <span class="help- error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </form>

        {% if status == 'CLAIMED_BY_IMPORTER' %}
            <div class="small-form margin-auto">
            {#            <label for="vote">داوری کنید</label>#}

            <button id="jud-confirm-btn" class="btn another-mybutton btn-block" data-toggle="modal"
                    data-target="#confirm-submit" type="submit"><span>معامله انجام شده است</span></button>
            <button id="jud-deny-btn" class="btn btn-block mybutton" data-toggle="modal"
                    data-target="#confirm-submit" type="submit"><span>معامله انجام نشده است</span></button>

{#            <a class="btn another-mybutton btn-block"#}
{#               href="{% url 'myapp:subcontract_detail' subcontract %}?role=judge&judge={{ judge }}&contract={{ contract }}&action=confirm"#}
{#               type="submit"><span>معامله انجام شده است</span></a>#}
{#            <a class="btn btn-block mybutton"#}
{#               href="{% url 'myapp:subcontract_detail' subcontract %}?role=judge&judge={{ judge }}&contract={{ contract }}&action=deny"#}
{#               type="submit"><span>معامله انجام نشده است</span></a>#}
        {% endif %}
        </div>

        <script>
        </script>
    </div>


    <br/>
    <br/>
    <br>

    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"
                 style="width: 350px; margin-left: auto; margin-right: auto; margin-top: 125px">
                <div class="modal-header">
                    آیا درستی اطلاعات وارد شده را تایید می کنید؟
                </div>
                <div class="modal-body ">
                    <div style="text-align: right; padding-right: 25px">
                        {% for field in subcontract_detail_form.visible_fields %}
                            {#                                <input id="{{ field.auto_id }}_check" type="checkbox"/>#}
                            <div style="margin-bottom: 10px">
                                <span style="color: #9655D4;">{{ field.label }}:</span>
                                <span style="color: black" id="{{ field.auto_id }}_value"></span>
                                {#                                {% if field.label != 'توضیحات' %}#}
                                {#                                    <hr style="margin: 10px"/>#}
                                {#                                {% endif %}#}
                            </div>
                        {% endfor %}
                        <strong style="color: #9655D4;">عملیات مورد نظر:</strong>
                        <strong style="color: black" id="requested-action"></strong>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
                    <button id="confirm-btn" class="btn modal_success_btn">تایید</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        $('#jud-confirm-btn', '#jud-deny-btn').click(function () {
            {% for field in subcontract_detail_form.visible_fields %}
                var field_id = "{{ field.auto_id }}"
                var field_value = $('#' + field_id).val()
                var modal_field_id = "{{ field.auto_id }}" + '_value'
                $('#' + modal_field_id).text(field_value)
            {% endfor %}
            $('#id_status_value').text($("#id_status option:selected").text())
        });

    </script>

    <script>
        var get = function (url) {
            var link = document.createElement('a');
            link.href = url;
            document.body.appendChild(link);
            link.click();
        }
    </script>

    <script>
        function setElementTextById(id, text) {
            $('#' + id).text(text);
        }
    </script>

    <script>
        function setRequestedAction(text) {
            setElementTextById('requested-action', text)
        }
    </script>

    {#  importer  ...............................................................................................................#}
    <script>
        $('#jud-confirm-btn').click(function () {
            {#changeConfirmBtnId('im-charge-modal-btn')#}
            $('#confirm-btn').data('action', 'jud-confirm');
            setRequestedAction("تایید انجام معامله")
        })
        $('#jud-deny-btn').click(function () {
            {#changeConfirmBtnId('im-charge-modal-btn')#}
            $('#confirm-btn').data('action', 'jud-deny');
            setRequestedAction("عدم تایید انجام معامله")
        })
    </script>

    {#  modal .................................................................................................................. #}
    {#  importer  ...............................................................................................................#}
    <script>
        $('#confirm-btn').click(function () {
            var action = $('#confirm-btn').data('action');
            alert(action)
            switch (action) {
                case 'jud-confirm':
                    get("{% url 'myapp:subcontract_detail' subcontract %}?role=judge&judge={{ judge }}&contract={{ contract }}&action=confirm");
                    break

                case 'jud-deny':
                    get("{% url 'myapp:subcontract_detail' subcontract %}?role=judge&judge={{ judge }}&contract={{ contract }}&action=deny");
                    break
            }
        })
    </script>


{% endblock %}

