{% extends "myapp/judge-logged-in-nav.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}


{% block hero %}{% endblock %}

{% block content %}
    <div class="block-content">
        <h4>اطلاعات قرارداد</h4>
        <form method="post" id="login-form" class="myform general-form" action="">
            {% csrf_token %}

            {% for hidden in contract_detail_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in contract_detail_form.visible_fields %}
                <div class="form-group">

                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                    {% for error in field.errors %}
                        <span class="help- error-message">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>

        <br/>
        <br/>
        <br/>

        {% if status == 'JUDGED' %}
            <div class="mt-50 mb-25">

                <h4>لیست قرارداد های مربوطه</h4>
                <h5>(جهت مشاهده جزپیات روی شناسه قرارداد مربوطه کلیک کنید)</h5>


                <div class="table-responsive">
                    <table class="margin-auto center table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">شناسه</th>
                            <th scope="col">حساب صادرکننده</th>
                            <th scope="col">مبلغ به ریال</th>
                            <th scope="col">مبلغ حواله</th>
                            <th scope="col">رای داور</th>
                            <th scope="col">تاریخ اعتبار</th>
                            <th scope="col">وضعیت</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subcontract in subcontracts %}
                            <tr>
                                <th scope="row">
                                    <a href="{% url 'myapp:subcontract_detail' subcontract.id %}?role=judge&judge={{ judge }}&contract={{ contract }}"><u>{{ subcontract.id }}</u></a>
                                </th>
                                <td>{{ subcontract.dst_owner_bank_account_id }}</td>
                                <td>{{ subcontract.value_in_rial_thousand_separated }}</td>
                                <td>{{ subcontract.remittance_value_thousand_separated }}</td>
                                <td>{{ subcontract.judge_vote_verbose }}</td>
                                <td>{{ subcontract.expire_date_verbose }}</td>
                                <td>{{ subcontract.status_verbose }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        {% elif status == 'CLAIMED_BY_IMPORTER' %}

            <div class="mt-50 mb-25">

                <h4>لیست قرارداد های مربوطه داوری نشده</h4>
                <h5>(جهت داوری روی شناسه قرارداد مربوطه کلیک کنید)</h5>


                <div class="table-responsive">
                    <table class="center table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">شناسه</th>
                            <th scope="col">شماره حساب صادرکننده</th>
                            <th scope="col">مبلغ به ریال</th>
                            <th scope="col">مبلغ حواله</th>
                            <th scope="col">رای داور</th>
                            <th scope="col">تاریخ اعتبار</th>
                            <th scope="col">وضعیت</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for not_judged_subcontract in not_judged_subcontracts %}
                            <tr>
                                <th scope="row">
                                    <a href="{% url 'myapp:subcontract_detail' not_judged_subcontract.id %}?role=judge&judge={{ judge }}&contract={{ contract }}"><u>{{ not_judged_subcontract.id }}</u></a>
                                </th>
                                <td>{{ not_judged_subcontract.dst_owner_bank_account_id }}</td>
                                <td>{{ not_judged_subcontract.value_in_rial_thousand_separated }}</td>
                                <td>{{ not_judged_subcontract.remittance_value_thousand_separated }}</td>
                                <td>{{ not_judged_subcontract.judge_vote_verbose }}</td>
                                <td>{{ not_judged_subcontract.expire_date_verbose }}</td>
                                <td>{{ not_judged_subcontract.status_verbose }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <br/>
                <br/>
                <br/>
                <br/>
                <br/>

                <h4>لیست قرارداد های مربوطه داوری شده</h4>
                <h5>(جهت مشاهده جزپیات روی شناسه قرارداد مربوطه کلیک کنید)</h5>

                <div class="table-responsive">
                    <table class="center table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">شناسه</th>
                            <th scope="col">شماره حساب صادرکننده</th>
                            <th scope="col">مبلغ به ریال</th>
                            <th scope="col">مبلغ حواله</th>
                            <th scope="col">رای داور</th>
                            <th scope="col">تاریخ اعتبار</th>
                            <th scope="col">وضعیت</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for judged_subcontract in judged_subcontracts %}
                            <tr>
                                <th scope="row">
                                    <a href="{% url 'myapp:subcontract_detail' judged_subcontract.id %}?role=judge&judge={{ judge }}&contract={{ contract }}"><u>{{ judged_subcontract.id }}</u></a>
                                </th>
                                <td>{{ judged_subcontract.dst_owner_bank_account_id }}</td>
                                <td>{{ judged_subcontract.value_in_rial_thousand_separated }}</td>
                                <td>{{ judged_subcontract.remittance_value_thousand_separated }}</td>
                                <td>{{ judged_subcontract.judge_vote_verbose }}</td>
                                <td>{{ judged_subcontract.expire_date_verbose }}</td>
                                <td>{{ judged_subcontract.status_verbose }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <script>
        </script>
    </div>
{% endblock %}

