<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{#{{ user }}#}
<form method="post" style="width: 250px; margin: auto">
    {% csrf_token %}
    <div>
        <div class="control">
            {{ test_form.test_value }}
        </div>


        {% for error in test_form.test_value.errors %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="control">
        <button class="button is-link">submit</button>
    </div>
</form>
</body>
</html>