{% extends "myapp/user-logged-in-nav.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}


{% block content %}
    <div class="block-content">
        <h4>اطلاعات قرارداد جدید را وارد کنید</h4>
        <form method="post" id="login-form" class="myform user-profile-form" action="{% url 'myapp:my_new_contract' %}?role=user&user={{ user }}&account={{ owner }}&type={{ owner_type }}">
            {% csrf_token %}

            {% for hidden in new_contract_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in new_contract_form.visible_fields %}
                <div class="form-group">

                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                    {% for error in field.errors %}
                        <span class="help- error-message">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="form-group text-center">
                <button type="submit" class="btn mybutton">
                    ثبت
                </button>
            </div>

        </form>
        <script>
        </script>
    </div>
{% endblock %}

