{% extends "myapp/reporter-logged-in-nav.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}


{% block hero %}{% endblock %}

{% block content %}
    <div class="block-content">
        <h4>فرم گزارش گیری را کامل کنید</h4>
        <form method="post" id="login-form" class="myform general-form"
              action="{% url 'myapp:output-report' %}?role=reporter&reporter={{ reporter }}">
            {% csrf_token %}

            {% for hidden in report_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in report_form.visible_fields %}
                <div class="form-group">
                    {% if field.name == 'from_date' or field.name == 'to_date' %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input name="{{ field.name }}" type="text" class="form-control"
                               id="id_{{ field.name }}"
                               placeholder="انتخاب کنید"
                               data-mddatetimepicker="true"
                               data-placement="right" data-englishnumber="true"/>
                    {% else %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                        {% for error in field.errors %}
                            <span class="help- error-message">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-group text-center">
                <button type="submit" class="btn mybutton btn-block">
                    گزارش گیری
                </button>
            </div>
        </form>

        <script>
        </script>
    </div>
{% endblock %}

