{% extends "myapp/user-logged-in-nav.html" %}
{% load rest_framework %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}
{% load myapp_extras %}


{% block hero %}{% endblock %}

{% block content %}
    <div class="block-content">
        <h4>لیست قرارداد ها</h4>
        <h5>(جهت مشاهده جزپیات بیشتر روی شناسه قرارداد کلیک کنید)</h5>

        <form method="post" id="" class="myform user-contracts-list-table" action="">
            {% csrf_token %}

            {% if type == 'EXPORTER' %}
                <form method="post" id="login-form" class="myform user-contracts-list-table" action="">
                    {% csrf_token %}

                    <div class="table-responsive">
                        <table class="margin-auto center table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">شناسه</th>
                                <th scope="col">شماره حساب صراف</th>
                                <th scope="col">مبلغ به ریال</th>
                                <th scope="col">مبلغ حواله</th>
                                <th scope="col">نام داور</th>
                                <th scope="col">رای داور</th>
                                <th scope="col">تاریخ اعتبار</th>
                                <th scope="col">وضعیت</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contract in contracts %}
                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'myapp:contract_detail' contract.0.id %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}"><u>{{ contract.0.id }}</u></a>
                                    </th>

                                    <td>{{ contract.1.dst_owner_bank_account_id }}</td>
                                    <td>{{ contract.0.value_in_rial_thousand_separated }}</td>
                                    <td>{{ contract.0.remittance_value_thousand_separated }}</td>
                                    <td>{{ contract.1.judge_name }}</td>
                                    <td>{{ contract.0.judge_vote_verbose }}</td>
                                    <td>{{ contract.0.expire_date_verbose }}</td>
                                    <td>{{ contract.0.status_verbose }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            {% else %}
                <div class="table-responsive">
                    <table class="center table table-striped">
                        <thead>
                        <tr>
                            <th class="" scope="col">شناسه</th>
                            {% if type == 'EXCHANGER' %}
                                <th scope="col">شماره حساب واردکننده</th>
                            {% else %}
                                <th scope="col">شماره حساب صراف</th>
                            {% endif %}
                            <th scope="col">مبلغ به ریال</th>
                            <th scope="col">ارز حواله</th>
                            <th scope="col">مبلغ حواله</th>
                            <th scope="col">نوع تسویه</th>
                            <th scope="col"> نام داور</th>
                            <th scope="col">رای داور</th>
                            <th scope="col">تاریخ اعتبار</th>
                            <th scope="col">وضعیت</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for contract in contracts %}
                            <tr>
                                <th scope="row"><a
                                        href="{% url 'myapp:contract_detail' contract.id %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}"><u>{{ contract.id }}</u></a>
                                </th>

                                {% if owner == contract.src_owner_bank_account_id %}

                                    <td>{{ contract.dst_owner_bank_account_id }}</td>
                                {% else %}
                                    <td>{{ contract.src_owner_bank_account_id }}</td>
                                {% endif %}
                                <td>{{ contract.value_in_rial_thousand_separated }}</td>
                                <td>{{ contract.remittance_currency_type_verbose }}</td>
                                <td>{{ contract.remittance_value_thousand_separated }}</td>
                                <td>{{ contract.settlement_type_verbose }}</td>
                                <td>{{ contract.judge_name }}</td>
                                <td>{{ contract.judge_vote_verbose }}</td>
                                <td>{{ contract.expire_date_verbose }}</td>
                                <td>{{ contract.status_verbose }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if  type == 'IMPORTER' %}
                <div class="small-form margin-auto">
                    <a class="btn another-mybutton btn-block"
                       href="{% url 'myapp:new_contract' %}?role=user&user={{ user }}&owner={{ owner }}&type={{ type }}"><span
                            class="color-white">ثبت قرارداد جدید</span></a>
                </div>
            {% endif %}

        </form>

        <br/>
        <br/>
        <br/>
        <script>
        </script>
    </div>
{% endblock %}

