<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Persian DateTime</title>
    <link href="../../resources/persian_date_picker/Content/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../resources/persian_date_picker/Content/bootstrap-theme.min.css"/>
    <link rel="stylesheet"
          href="../../resources/persian_date_picker/Content/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css"/>

    <script src="../../resources/persian_date_picker/Scripts/jquery-2.1.4.js" type="text/javascript"></script>
    <script src="../../resources/persian_date_picker/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../resources/persian_date_picker/Scripts/MdBootstrapPersianDateTimePicker/calendar.js"
            type="text/javascript"></script>
    <script src="../../resources/persian_date_picker/Scripts/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js"
            type="text/javascript"></script>

</head>
<body>
<div class="container" style="max-width: 500px;">

    <div class="form-group">
        <label class="sr-only" for="exampleInput3">تاریخ</label>
        <div class="input-group">
            <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click"
                 data-targetselector="#exampleInput3">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
            <input type="text" class="form-control" id="exampleInput3" placeholder="تاریخ" data-mddatetimepicker="true"
                   data-placement="right" data-englishnumber="true"/>
        </div>
    </div>
</div>

