{% extends "myapp/nav.html" %}
{% load myapp_extras %}
{% load bootstrap4 %}
{% load static %}

{% block hero %}{% endblock %}

{% block items %}
    {% with '/api' as pre %}
        <li><a title="پروفایل"
               href="{{ pre|addstr:"/reporters/"|addstr:reporter }}">پروفایل</a><span class="arrow"></span>
        </li>

        <li><a title="گزارش جهت مغایرت گیری"
               href="{{ pre|addstr:"/contradiction-report"|addstr:"?role=reporter&reporter="|addstr:reporter }}">گزارش جهت مغایرت گیری</a><span
                class="arrow"></span></li>

        <li><a title="گزارش خروجی خروجی سیستم"
               href="{{ pre|addstr:"/output-report"|addstr:"?role=reporter&reporter="|addstr:reporter }}">گزارش خروجی سیستم</a><span
                class="arrow"></span></li>


        <li class="contact"><a title="خروج"
                               href="/api/special-login">خروج</a><span
                class="arrow"></span></li>

    {% endwith %}
{% endblock items %}

{% block content %}{% endblock %}
