{% extends "myapp/user-logged-in-nav.html" %}
{% load rest_framework %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}
{% load myapp_extras %}

{% block content %}
    <div class="block-content">
        <h4>لیست قرارداد های مربوطه</h4>
        <form method="post" id="login-form" class="myform user-contracts-list-form" action="">
            {% csrf_token %}

            <div class="table-responsive">
                <table style="margin: auto" class="center table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">شناسه</th>
                        {% if owner_type == 'IMPORTER' %}
                            <th scope="col">شماره حساب صادرکننده</th>
                        {% else %}

                        {% endif %}

                        <th scope="col">مبلغ به ریال</th>
                        <th scope="col">مبلغ حواله</th>
                        <th scope="col">رای داور</th>
                        <th scope="col">تاریخ اعتبار</th>
                        <th scope="col">توضیحات</th>
                        <th scope="col">وضعیت</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contract in contracts %}
                        <tr>
                            <th scope="row">{{ contract.id }}</th>
                            <td>{{ contract.dst_owner }}</td>
                            <td>{{ contract.value_in_rial }}</td>
                            <td>{{ contract.remittance_value }}</td>
                            <td>{{ contract.judge_vote_verbose }}</td>
                            <td>{{ contract.expire_date }}</td>
                            <td>{{ contract.description }}</td>
                            <td>{{ contract.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>

        <script>
        </script>
    </div>
{% endblock %}

