{% extends "myapp/user-logged-in-nav.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="block-content">
        <h4>اطلاعات قرارداد مربوطه</h4>
        <form method="post" id="login-form" class="myform user-profile-form" action="">
            {% csrf_token %}

            {% for hidden in subcontract_detail_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in subcontract_detail_form.visible_fields %}
                <div class="form-group">

                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                    {% for error in field.errors %}
                        <span class="help- error-message">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>

        {% if owner_type == 'EXPORTER' and  status == 'WAITING_FOR_EXPORTER' %}
            <form style="margin-top: -50px" method="post"
                  action="{% url 'myapp:my_contract_detail' contract %}?role=user&user={{ user }}&account={{ owner }}">
                <div class="form-check form-check-inline">
                    <label for="{{ field.id_for_label }}">آیا قرار داد را تایید می کنید؟</label>
                    {{ field|add_class:'form-control' }}
                    <label class="form-check-label" for="id_radio1">بله</label>
                    <input style="display: inline" class="form-check-input" type="radio" name="isconfirmed"
                           id="id_radio1"
                           value="yes" checked="checked">
                    <label class="form-check-label" for="id_radio2">خیر</label>
                    <input style="display: inline" class="form-check-input" type="radio" name="isconfirmed"
                           id="id_radio2"
                           value="no">
                </div>
                <div style="margin-top: 20px">
                    <button class="btn mybutton"
                            type="submit"
                    ><span>ثبت</span></button>
                </div>
            </form>
        {% endif %}

        <script>
        </script>
    </div>
    <script>
        $('label[for="id_dst_owner"]').text("شماره حساب صادرکننده")
        <!--$('#id_dst_owner').val({{ subcontract_detail_form.instance.parent.dst_owner }})-->
    </script>

{% endblock %}

