{% extends "myapp/user-logged-in-nav.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="block-content">
        <h4>اطلاعات قرارداد مربوطه</h4>
        <form method="post" id="login-form" class="myform general-form" action="">
            {% csrf_token %}

            {% for hidden in subcontract_detail_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in subcontract_detail_form.visible_fields %}
                <div class="form-group">

                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    <span class="help- help-message" id="{{ field.auto_id }}_help_text">{{ field.help_text }}</span>
                    {% for error in field.errors %}
                        <span class="help- error-message">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>

        {% if type == 'EXCHANGER' %}
            {% if status == 'WAITING_FOR_EXCHANGER_PAYMENT' %}
                <div class="small-form margin-auto">
                    <a class="btn another-mybutton btn-block"
                       href="{% url 'myapp:subcontract_detail' contract %}?role=user&user={{ user }}&account={{ owner }}&type={{ type }}&contract={{ parent }}&action=pay"><span
                            class="color-white">پرداخت</span></a>
                </div>

            {% elif status == 'WAITING_FOR_EXCHANGER_CONFIRMATION' %}
                <div class="small-form margin-auto">

                    <a class="btn another-mybutton btn-block"
                       href="{% url 'myapp:subcontract_detail' contract %}?role=user&user={{ user }}&account={{ owner }}&type={{ type }}&contract={{ parent }}&action=confirm"
                       type="submit"><span>تایید قرارداد</span></a>
                    <a class="btn btn-block mybutton"
                       href="{% url 'myapp:subcontract_detail' contract %}?role=user&user={{ user }}&account={{ owner }}&type={{ type }}&contract={{ parent }}&action=deny"
                       type="submit"><span>عدم تایید قرارداد</span></a>
                </div>
            {% endif %}
        {% endif %}

        <script>
        </script>
    </div>
    <script>
    </script>

{% endblock %}

